<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gyy.dao.DataDao">

    <select id="queryCounts" parameterType="com.gyy.entity.vo.PinpaiParams" resultType="java.lang.Integer">
      select count(*) from shop_data where isDel=1

      <if test="name!=null and name!=''">
          and name like "%"#{name}"%"
      </if>

    </select>

    <select id="queryDatas" parameterType="com.gyy.entity.vo.PinpaiParams" resultType="com.gyy.entity.po.Data">
        select * from shop_data where isDel=1
        <if test="name!=null and name!=''">
            and name like "%"#{name}"%"
        </if>

        limit ${size*(currPage-1)},#{size}

    </select>
</mapper>
